<a href="https://colab.research.google.com/github/GDIAMEL/PLP_WEEK_TWO_PYTHON/blob/main/WEEK_TWO_PYTHON_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Creating an empty list called my_list.
my_list = []

In [16]:
# Appending the following elements to my_list: 10, 20, 30, 40.
my_list.append(10)
my_list.append(20)
my_list.append(30)
my_list.append(40)

In [17]:
# Checking the results of the previous append
my_list

[10, 20, 30, 40]

In [18]:
# Insert the value 15 at the second position in the list.
my_list.insert(1, 15)

In [19]:
# checking whether the 15 was inserted succesfully
my_list

[10, 15, 20, 30, 40]

In [20]:
# Extending my_list with another list: [50, 60, 70].
my_list.extend([50, 60, 70])

In [21]:
# checking whether the extension was successful
my_list

[10, 15, 20, 30, 40, 50, 60, 70]

In [22]:
# Removing the last element from my_list.
my_list.pop()

70

In [23]:
# Sorting my_list in ascending order.
my_list.sort()

In [24]:
# checking the progress of my_list
my_list

[10, 15, 20, 30, 40, 50, 60]

In [25]:
# From the question I have to find and print the index of the value 30 in my_list.
index_of_30 = my_list.index(30)
print("Index of 30:", index_of_30)

Index of 30: 3

In [26]:
# checking the output of my final list
print("This is my final list:", my_list)

This is my final list: [10, 15, 20, 30, 40, 50, 60]